.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 23px;
    width: 36px;
    background: transparent;
    border:none;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
    &:focus{
        outline: none;
    }
    .toggle-button__line{
        width: 30px;
        height: 2px;
        background: #fff;
    }
}